<%- include('../partials/header') %>
    <nav>
        <div class="left">
            <h2>MyPoem</h2>
        </div>
        <div class="right">
            <li>Home</li>
            <li>Poems</li>
            <li>Login</li>
            <li>Sign-Up</li>
        </div>
    </nav>