<footer>
    <div class="container">
        <div class="right">
            <div>
                <img src="images/pp_logo2.png" alt="">
                <h2>PoeticPinnacle</h2>
            </div>
            <hr style="height: 3px; background-color: #00415a;margin-top: 10px;margin-bottom: 10px;">
            <div>
                <h2 style="margin-bottom: 20px;">
                    Socials
                </h2>
                
                <div>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-solid fa-phone"></i></a>
                    <a href=""><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>

        </div>

        
        <div class="center">
            <h2>
                Quick Links
            </h2>
            <hr style="height: 3px; background-color: #00415a;margin-top: 10px;margin-bottom: 10px;">
           <li>
            <a href="/">Home</a>
        </li>
           <li>
            <a href="/poems">Poems</a>
        </li>
           <li>
            <a href="/developer">Developer</a>
        </li>
        </div>
        <div class="left">
           <h2>
            News Letter
            <hr style="height: 3px; background-color: #00415a;margin-top: 10px;margin-bottom: 10px;">
           </h2>
           
           <input type="email" name="" id="" placeholder="Enter email....">
           <button type="submit">
                Subscribe
           </button>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright 2024 || Made with ❤️ by Eddy Max</p>
    </div>
</footer>