<%- include('./header') %>
    <nav>
       <div class="conatainer">
            <div class="left">
                <h2>MyPoem</h2>
            </div>
            <div class="right">
                <li>
                    <a href="">
                        Home
                    </a>
                    <a href="">
                        Poems
                    </a>
                    <a href="">
                        Log-in
                    </a>
                    <a href="">
                        Sign-Up
                    </a>
                </li>
            </div>
       </div>
    </nav>