<%- include('./header') %>
    <nav>
        
       <div class="container">
        
            <div class="left">
                <img src="/images/pp_logo2.png" alt="">  
                <h2>PoeticPinnacle</h2>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="/" >
                            <div class="menu-item">
                                <lord-icon
                                    src="https://cdn.lordicon.com/laqlvddb.json"
                                    trigger="hover"
                                    stroke="light"
                                    state="hover-partial-roll"
                                    colors="primary:#121331,secondary:#00415a"
                                    style="width:35px;height:35px">
                                </lord-icon>
                                <p id="home-link">Home</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/poems" >
                            <div class="menu-item">
                                <lord-icon
                                    src="https://cdn.lordicon.com/wuvorxbv.json"
                                    trigger="hover"
                                    stroke="light"
                                    state="hover"
                                    colors="primary:#121331,secondary:#00415a"
                                    style="width:35px;height:35px">
                                </lord-icon>
                                <p id="poems-link">Poems</p>
                            </div>
                        </a>
                    </li>
                    <% if(locals.isLoggedIn) { %>
                        <li>
                            <a href="/profile/<%= locals.username %>" >
                                <div class="menu-item">
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                    <lord-icon
                                        src="https://cdn.lordicon.com/bgebyztw.json"
                                        trigger="hover"
                                        colors="primary:#121331,secondary:#00415a"
                                        style="width:35px;height: 35px">
                                    </lord-icon>
                                    <p id="home-link"><%= username %></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" >
                                <div class="menu-item">
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                    <lord-icon
                                        src="https://cdn.lordicon.com/gwvmctbb.json"
                                        trigger="hover"
                                        stroke="light"
                                        colors="primary:#121331,secondary:#00415a"
                                        style="width:35px;height:35px">
                                    </lord-icon>
                                    <p id="home-link">Logout</p>
                                </div>
                            </a>
                        </li>
                    <% } else {%>
                        <li class="dropdown-container">
                            <lord-icon
                                src="https://cdn.lordicon.com/xzalkbkz.json"
                                style="width:35px;height:35px">
                            </lord-icon>
                            <p>Profile</p>
                            <div class="dropdown-content">
                                <a href="/login">Login</a>
                                <a href="/signup">SignUp</a>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            
       </div>
    </nav>