

:root {
  --color-white: #ffffff;
  --color-primary: #256D85;
  --color-secondary: #47B5FF;
  --color-darkblue: #06283D;
  --color-light: #d3ecf6;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    background-color: var(--color-light);
}
nav{
    background-color: var(--color-darkblue);
}