
<%- include('./partials/nav') %>


<body>
    <H2 style="margin-left: 20px;">Hi There,  <%= locals.username.toUpperCase() %> 👋</H2>
   <div class="container_profile">
    
        <div class="[left card_profile]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,256L120,266.7C240,277,480,299,720,256C960,213,1200,107,1320,53.3L1440,0L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
            <div class="profile">
            
                <img class="img" src="/images/pp_logo1.png" alt="">
                <h2 style="margin-bottom: 5px;"><%= username %></h2>
                <div class="profile1">
                    <div class="profile2">
                        <h2>Following</h2>
                        <p>309</p>
                    </div>
                    <div class="vl"></div>
                    <div class="profile2">
                        <h2>Followers</h2>
                        <p>3k</p>
                    </div>
                    <div class="vl"></div>
                    <div class="profile2">
                        <h2>Poems</h2>
                        <p>30</p>
                    </div>
                </div>
               
                <div class="profile1 ">
                    <input type="button" value="Edit">
                    <input type="button" value="Share">
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nam doloribus voluptates facere quasi, maxime excepturi aperiam consequatur at cupiditate?
                </p>
                <h2 style="text-align: left; margin-top: 10px; margin-bottom: 10px;">
                    Socials
                </h2>
                <div class="socials">
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-solid fa-phone"></i>
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <h2 style="text-align: left; margin-top: 20px; margin-bottom: 10px; font-size: 17px;">
                    Buy me Coffee🥤😇
                </h2>
                <div class="socials1" >
                    <i class="fa-brands fa-paypal">paypal</i>
                    <img src="/images/mpesa.png" alt="">mpesa
                    
                </div>

                
               
            </div>
            
            
        </div>
        <div class="mid card_profile">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dicta? Dicta illum nesciunt, quibusdam facere dolore animi suscipit! Nihil repellendus eaque nesciunt voluptate perferendis rerum officiis pariatur quibusdam illum animi consectetur et fuga sequi, veniam placeat excepturi! Molestiae, iste ab numquam voluptate dolor ex accusantium quis iusto labore, perferendis laudantium aliquid facilis obcaecati ducimus amet in eius pariatur minus quae vel dolorum, sit distinctio natus. Fugiat dolor aperiam eveniet beatae necessitatibus recusandae unde consequuntur, eos consectetur omnis delectus placeat, tenetur perspiciatis dolorum sequi dignissimos quam optio ipsum ex consequatur asperiores aspernatur maiores saepe atque? Eius accusamus ad dolorum at.
        </div>
        
        <div class="right card_profile">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit cupiditate quas aspernatur, distinctio reiciendis fugit beatae inventore cumque officia facilis!
        </div>
   </div>
</body>
<%- include('./partials/footer') %>
</html>