
<%- include('./partials/nav') %>


<body>
    <H2 style="margin-left: 20px;">Welcome <%= locals.username.toUpperCase() %> 🤗</H2>
   <div class="container_profile">
        <div class="left card_profile">
            <div class="profile">
                <img src="/images/pp_logo1.png" alt="">
                <h2><%= username %></h2>
                <div class="profile1">
                    <h2>Following</h2>
                    <div class="vl"></div>
                    <h2>Followers</h2>
                    <div class="vl"></div>
                    <h2>Likes</h2>
                </div>
                <div class="profile2">
                    <h2 style="margin-left: 30px;">900</h2>
                    <!-- <div class="vl"></div> -->
                    <h2>7,898</h2>
                    <!-- <div class="vl" style="margin-left: 30px;"></div> -->
                    <h2 style="left: 300px;">7.8k</h2>
                </div>
                <div class="profile button">
                    <input type="button" value="Edit">
                    <input type="button" value="Share">
                </div>
            </div>
            
            
        </div>
        <div class="mid card_profile">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt vitae consequatur ex iure veniam dolores atque perspiciatis quos commodi!
        </div>
        
        <div class="right card_profile">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit cupiditate quas aspernatur, distinctio reiciendis fugit beatae inventore cumque officia facilis!
        </div>
   </div>
</body>
<%- include('./partials/footer') %>
</html>