
/*variables */
    :root {
        --primary-color:#00415a;
        --secondary-color:#009bd6;
        --headers:	#001f2b;
        --links:#00b8ff;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: rgb(206, 206, 206);
    }

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    width: 100%;
    background-color: rgb(240, 240, 240);
}
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
nav img {
    width: 4rem; 
    height: auto; 
    margin-bottom: 0px; 
}
nav h2 {
    font-family: 'Sevillana', ;
    font-size: 30px;
}
.right {
    /* Add any additional styling for the .right container here */
    
}
nav a {
    color: #001f2b;
    text-decoration: none;
}

nav a:active,
nav a.active {
    color: var(--secondary-color);
    position: relative;
}

nav a:hover {
    color: var(--secondary-color);
}

nav li a::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

/* Show the underline on hover and when active */
nav li a:hover::after,
nav li a.active::after {
    visibility: visible;
    transform: scaleX(1);
}

.menu-item p {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
li{
    margin-right: 70px;
}
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

lord-icon {
    width: 35px;
    height: 35px;
    fill: #007bff;
    cursor: pointer;
}
/* FOOTER */
footer {
    width: 100vw;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}
footer .container {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
footer .container .right img {
    width: 100px;
    height: auto;
    margin-left: 40px;
    
}
footer .container .right {
    display: block;
    margin-bottom: 40px;
}
footer .container .right a i {
    color: var(--primary-color);
    font-size: 25px;
    padding: 10px;
}
footer .container .right a i:hover {
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}
footer .container .left h2 {
    margin-bottom: 20px;
}
footer .container .left input{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgb(226, 226, 226);
    margin-top: 10px;

}
footer .container .left button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #00415a;
    border: none;
    margin-top: 10px;
    padding: 10px;
    color: white;
    margin-left: 90px;
}
footer .container .left button:hover {
    background-color: white;
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
    
}
footer .container .center li {
    list-style: none;
    margin-top: 20px;
}
footer .container .center li a {
    color: black;
    text-decoration: none;
    
}
footer .container .center li a:hover {
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}
footer .copyright {
    background-color: var(--primary-color);
    border-radius: 5px;
    
}
footer .copyright p {
    font-size: 18px;
    color: rgb(199, 199, 199);
    text-align: center;
    font-family: serif;
}